<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWTtrCLvaNvA_OjGF449Cx-Ce565ENxSo</string>
	<key>GCM_SENDER_ID</key>
	<string>292443165218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wisenote.ua.wisenote.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wisenote</string>
	<key>STORAGE_BUCKET</key>
	<string>wisenote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292443165218:ios:2034175cba7235e1e6f07b</string>
</dict>
</plist>